<!-- Barra de navegación tipo Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Botón para móviles -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="../all-posts">Post App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="add">Agregar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Editar Post</a>
      </li>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Dark mode</label>
      </div>
    </ul>

    <!-- Contenido de la barra de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex">
        <li class="nav-item d-flex align-items-center">
          <span class="navbar-text text-white ms-3 me-2">
            <i class="bi bi-person-circle me-2"></i> {{ emailDisplay }}
          </span>
        </li>

        <li class="nav-item">
          <button
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#logout"
          >
            Cerrar sesión
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
