<div class="container mt-5">
  <div class="text-center mb-4">
    <h1 class="display-4 d-inline-block">
      <i class="me-3"></i> Comentarios de Usuarios
    </h1>

  </div>


  <div *ngIf="errorMessage; else showPostDetails">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <i class="fas fa-exclamation-triangle me-2"></i>
      <strong>Error:</strong> {{ errorMessage }}
    </div>
  </div>

  <ng-template #showPostDetails>
    <div *ngIf="isLoading" class="d-flex justify-content-center mt-4">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>

    <div *ngIf="!isLoading && comment" class="card shadow-sm mt-4">
      <div class="card-body">
        <h2 class="card-title mb-3">{{ comment.name }}</h2>
        <p><strong>Comentario:</strong></p>
        <p>{{ comment.body }}</p>

        <a [routerLink]="['/all-posts']" class="btn btn-primary mt-3">
          Regresar a la lista de comentarios
        </a>
      </div>
    </div>
  </ng-template>
</div>
