<div class="container mt-4">
  <h2 class="text-center mb-4">Lista de Comentarios</h2>

  <table class="table table-striped table-bordered shadow-sm">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Comentario</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments">
        <td>{{ comment.id }}</td>
        <td>{{ comment.name }}</td>
        <td>{{ comment.body | slice: 0:100 }}...</td> <!-- Limitar el comentario a los primeros 100 caracteres -->
        <td>{{ comment.email }}</td>
        <td>
          <!-- Usamos d-flex para que el icono y el texto estén en la misma línea -->
          <button class="btn btn-info btn-sm d-flex align-items-center" type="button" (click)="goToDetails(comment.id)">
            <i ></i> Detalles <!-- me-2 agrega un margen a la derecha del icono -->
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
