<div class="text-center mb-4">
  <h1 class="display-4 d-inline-block">
    <i class="me-3"></i> Comentarios de Usuarios
  </h1>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Posts App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <span class="navbar-text text-white me-3">
          {{emailDisplay}}
        </span>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
      </li>
    </ul>
  </div>
</nav>

<!-- Tabla de Posts -->
<div class="container mt-4">
  <h2>Listado de Posts</h2>
  <!-- Botón para agregar un nuevo post -->
  <div class="text-end mb-3">
    <button class="btn btn-primary" [routerLink]="['/add']">Agregar Post</button>
  </div>

  <!-- Tabla de posts -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <a [routerLink]="['/post-edit' , post.id]">
          <td>{{ post.id }}</td>
        </a>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
        <td>

          <button
            class="btn btn-danger ms-2"

          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
